/* Design und Ausrichtung des Headers, Logos */
header {
  background-color: #ffb900;
  background-image: url("logo.jpg");
  background-size: 165px;
  background-position: left;
  background-position-x: 2%;
  background-position-y: auto;
  background-repeat: no-repeat;
  height: 90px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: -5px; 
  z-index: 5;
  border-radius: 2px;
  padding-top:5px;
  position: fixed;
  text-align: center;
  padding: .6em;
  left: 0;
  right: 0;
}

/* ?? Kann weggelassen werden?? */
/* body, html {
	margin: 0;
	padding: 0;
  height: 100%;
  position: absolute;
  height: 90px;
  width: 100%;
} */

body {
font-family: Arial;
font-size: 17px;
background-color: #bdbdbd;
margin: 3px auto;
width: auto;
margin-top: 4px;
position: fixed;
}

footer {
	background-color: #ffffff;
	border-radius: 10px;
	opacity: 0.6;
	text-align: center;
	clear: both;
	width: 100%;
  position: fixed;
  padding: .9em;
  left: 0;
  right: 0;
  bottom: 0px;
  background-image: url("Battery.jpg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-attachment: fixed;
  background-position: bottom right;
}

/* #InfoTable hr {
	background-color: #3c3c3c;
	color: #009697;
	height: 45px;
	width: 100%;
	margin: 0 auto;
} */

/* Ausrichtung der großen Informationstabelle */
.InfoBox {
  top: 15%;
  left:  15%;
  height: 50%;
  width: auto;
  overflow: hidden;
  position: fixed;
}

.InfoTable table {
border: 1px solid #000000;
background-color: #EEEEEE;
width: 100%;
text-align: left;
border-collapse: collapse;
background: #A4950D;
}

table, th, td {
  border-collapse: collapse;
  padding: 3px 2px;
  font-size: 11pt;
  width: 100%;
}

th {
border-collapse: collapse;
padding: 3px 2px;
}

.InfoTable td {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  text-align: left;
  font-size: 13px;
  padding: 3px 2px;
  border: 1px solid #666;
  width: auto;
}

.fixed-header tbody {
  display:block;
  overflow:scroll;
  height:300px;
  width: auto;
  font-size: 13px;
}

#scroll tbody {
overflow:scroll;
height:auto;
}

.hover tr:hover {
  background-color:#f5f5f5;
}

.InfoTable tr {
  background-color: #F7F2E0;
}

.InfoTable thead, caption {
  background-color: #fff;
  color: #000000;
} 

.fixed-header thead tr {
  display:block;
  background-color: burlywood;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666
}

.selected {
    background-color: rgba(0,0,0,0.4) !important;
    color: #fff;
}

nav {
  background-color: #6E6E6E;
  border-radius: 15 px;
  width: 295px;
  height: 500px;
  line-height: 245%;
  position: fixed;
  margin-top: 9%;
  font-size: 18px;
  box-shadow: 2px 2px 37px -1px rgba(0,0,0,0.39);
  z-index: 5;
  display: inline-block;
}

#frame {
	border: 5px solid #ffb900;
}

.InputListe {
position: relative;
display: inline-block;
margin-top: 0%;
}

#Liste {
margin: auto;
}

.UeberschriftInput {
  float: left;
  text-align: left;
  margin-bottom: 0%;
  margin-top: 0%;
  padding-left: 1em;
}

/* .ListenPosition {
} */

.button {
  float: right;
  width: 100px;
  height: 35px;
  background: linear-gradient(to bottom, #ffb900 , #FFCC99);
  box-shadow: inset 0px 0px 4px #fff, inset 0px 0px 4px #fff;
  border: 1px solid #3c464b;
  border-radius:1em;
  margin: 1em;
}

.button:hover,
.button:focus {
    box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  }

  #NsatzDiv {
    border-radius: 15px;
    float: right;
    opacity: 0.9em;
    width: 600px;
    height: auto;
    border-top-style: solid;
    border-top-width: 0px;
    position: fixed;
    right: 0;
    top: 16.5%;
    right: 4%;
  }

  #count {
    font-size:10pt;
      margin-top: 50%;
      margin-left: 35%;
  }

  #matnrAugabe {
    resize: none;
    width: 100px;
    height: 150px;
    position:fixed;
  }

.LadeAusgabe {
  position: fixed;
  left: 15%;
  top: 55%;
}



/* Tabelle Nachrüstung */

.MatnrAusgabe main {
	background-color: #fff;
}

.MatnrAusgabe table {
	border-collapse: separate;
	border-spacing: 0.2em;
	margin-left: 2em;
	box-shadow: 0 0 0.1em #666;
	position: relative;
	z-index: 1;
}

.MatnrAusgabe th,
td {
	padding: 0.2em 0.5em;
	border-radius: 0.1em;
}

.MatnrAusgabe thead th {
	background-color: #ffebe6;
	color: #000000;
}

.MatnrAusgabe td {
	font-style: italic;
	text-align: right;
	box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, 0.5);
}

.MatnrAusgabe tbody tr:nth-child(even) {
	background-color: #e4ebf2;
	color: #000;
}

.MatnrAusgabe td:empty {
	box-shadow: none;
	background-color: none;
}

.MatnrAusgabe th[scope=row] {
	color: #000000;
	text-align: right;
	background-color: #fff;
}

.MatnrAusgabe caption {
	color: white;
	background: #ffb900;
	font-size: 1.5em;
	box-shadow: 0.1em 0.1em 0.1em 0 hsl(0, 0%, 50%);
	padding: 0.2em 0.2em 0.2em 2em;
	width: 10em;
	margin-left: -.6em;
	position: relative;
}

.MatnrAusgabe caption::before {
	content: "";
	position: absolute;
	display: block;
	height: 0;
	width: 0;
	top: 1em;
	left: -0.6em;
	border-style: solid;
	border-width: 0.6em;
	border-color: transparent hsl(13, 96%, 35%) transparent transparent;
	z-index: -1;
}

.MatnrAusgabe tbody tr:hover,
tfoot tr:hover {
	background-color: #fce4a2;
}

.MatnrAusgabe tbody td:hover,
tfoot td:hover {
	background-color: #fce4a2;
}

